body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://img.freepik.com/vector-gratis/diseno-patron-infinito-dentistas_23-2148157007.jpg?size=626&ext=jpg');
    background-size: cover;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(161, 235, 26, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-header {
    background-color: #00f7ff;
    color: #fff;
    padding: 20px;
  }
  
  

  .card-body {
    padding: 20px;
  }
  
  input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #352c2c;
    border-radius: 5px;
  }
  
  button {
    background-color: #70cec9;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #75bb04;
  }
  